/* global */
body {
  background-color: #dee8f3 !important;
  color: #4f6d8d !important;
}
.card { border-radius: 0.8em !important; }
.bg-green {
  background-color: #22d0a5 !important;
}
hr {
  border: 0;
  border-top: 0.95px solid rgba(0,0,0,.1) !important;
}
.btn {
  height: 55px;
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
  border: 0;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}
.text-green { color: #22d0a5; }
.text-black { color: black; }
.bg-black {
  background-color: black !important;
  color: white;
}
.bg-darkblue {
  background-color: #192a56 !important;
  color: white;
}
.text-welcome {
  color: rgba(255, 255, 255, 0.4) !important;
  font-weight: 300;
  font-size: 0.8em;
}
.coin-img { max-width: 50px !important; }
.transaction-img { max-width: 24px; }
.edit-img {
  max-width: 14px;
}
.verizon-img {
  max-width: 20px;
  margin-right: 4px;
}
.spotify-img {
  max-width: 20px;
  margin-right: 4px;
}
.piggy-bank-img {
  max-width: 60px;
}
.quote {
  padding: 0 29%;
  font-weight: 400;
  font-size: 0.9em;
}
.copy {
  padding: 0 17%;
  font-size: 0.8em;
}

.first-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.first-card-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

p { font-size: 0.8em; }
p.p-bigger { font-size: 0.9em; }

.decimal {
  font-size: 0.6em;
}
.caret-down {
  max-width: 0.6em;
  margin-left: 3px;
  padding-bottom: 3px;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}

.card-body {
  padding: 1rem !important;
}

hr.transaction-hr {
  margin-top: 5px !important;
  margin-bottom: 15px !important;
}

.btn-outline-secondary {
  font-size: 0.9rem !important;
}

.btn-outline-secondary:hover {
}
.disclaimer {
  font-size: 0.7rem;
  font-weight: 300;
}
.credit-score-updated-text {
  font-size: 0.8rem;
  font-weight: 300;
}
.disclaimer-alt {
  font-size: 0.7rem;
  font-weight: 300;
}
.btn-block {
  color: white !important;
  font-size: 0.9rem !important;
  padding: 10px 0 !important;
  align-content: center;
}
.btn-learn-more {
  background-color: black !important;
}
.btn-link-accounts {
  background-color: #22d0a5 !important;
}
.btn-blue {
  background-color: #2f455c !important;
}
.insights-text {
  font-size: 0.9rem !important;
}
.monthBreakdown {
  background-color: #192a56 !important;
}
.card-header {
  background-color: white !important;
}
.chaseCreditCard {
  background-color: #006fc1 !important;
  color: white;
  padding: 5px 10px;
}
.sapphire-card {
  border-radius: 0.8rem;
}




/* mobile */
@media (max-width: 767px) {
  .containerCustom {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .containerInner {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .card {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    transform: translateY(0);
    box-shadow: 3px 3px 20px rgba(79,109,141,.05);
    transition: all .5s cubic-bezier(0,.5,.5,1);
    pointer-events: auto;
  }
  .header {
    padding: 25px 0!important;
    background: #480048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C04848, #480048);
    background: linear-gradient(to right, #C04848, #480048);
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* sm desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* lg desktop */
@media (min-width: 1200px) {
}
