/* global */
body {
  background-color: #dee8f3 !important;
  color: #4f6d8d !important;
}
hr {
  border: 0;
  border-top: 0.95px solid rgba(0,0,0,.1) !important;
}
.text-green { color: #22d0a5; }
.text-black { color: black; }

/* materialui styles */
.Carousel .Indicators {
  margin-top: -25px !important;
}
.Carousel .Indicators .Indicator {
  font-size: 6px !important;
  padding: 5px;
}
.Carousel .Indicators .Indicator.Active {
  color: white !important;
}
.Indicator.Active:hover {
  color: #9E9E9E !important;
}
.MuiButton-label {
  font-size: 12px !important;
}



/* mobile */
@media (max-width: 767px) {
  .containerCustom {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .containerInner {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* sm desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* lg desktop */
@media (min-width: 1200px) {
}
