/* global */

.greenSpending {
  background-color: #4caf50 !important;
}
.coinImg { max-width: 50px; }

/* mobile */
@media (max-width: 767px) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .card {
    margin-top: 10px;
    padding: 5px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* sm desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* lg desktop */
@media (min-width: 1200px) {
}
